body {
	background-color: rgb(32 33 36);
	/*font-family: monospace, monospace;*/
	font-family: 400 18px/1.7777777778 Segoe UI,system-ui,-apple-system,sans-serif;
	color: white;
	margin-left: 50px;
	margin-right: 50px;
}

a {
    text-decoration: none;
}

a:hover {
    color: #66ddcc;
}

h1 {
	text-align: center;
	/*margin-bottom: 50px;*/
}

/* ------------------ */

img {
	height: 250px;
	width: 250px;
}

h4 {
	margin-bottom: 50px;
	text-align: center;
}
